<div class="align_center">
  <h1>#Samsa</h1>
</div>
<div class="align_center hidden">
  <%= image_tag "/images/logofedes.jpeg", :class => "header_logo" %>
</div>
<div class="clear"></div>

<div class="twitter_accounts">
  <div class="twitter_account">
    <%= image_tag "https://pbs.twimg.com/profile_images/489776260780806144/KXWiKRMx.png" %>
    <div class="name">Samsa</div>
    <div class="username">@SamsaRPG</div>
  </div>
  <div class="twitter_account">
    <%= image_tag "https://pbs.twimg.com/profile_images/3686553952/4a5c56b73c095210e47acc55d0479030.jpeg" %>
    <div class="name">prendho</div>
    <div class="username">@prendho</div>
  </div>
</div>

<div class="the_tweets">
  <%= render @tweets %>
</div>

<div class="align_center">
  <%= paginate @tweets, remote: true %>
</div>

<%= javascript_tag do %>
  window.applyHelpers();
  App.RefreshBackchannel.init();
<% end %>
